<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="card-options">
    <template>
        <style>
            :host{
                display: block;
                --card-options-footer-background:white;
                --card-options-icon-color:#B71C1C;
                --card-content:{};
                --card-content-footer:{};
                --card-content-body:{};
            }
            .card{
                height: 100%;
                width: 100%;
                @apply(--card-content);
            }
            .card .footer{
                background:var(--card-options-footer-background);
                padding: 7px 0 7px 0;
                text-align: center;
                font-size: 1.2em;
                font-weight: bold;
                @apply(--card-content-footer);
            }
            .card .body{
                height: 75%;
                text-align: center;
                @apply(--card-content-body);
            }

            .card .body iron-icon{
                --iron-icon-fill-color:var(--card-options-icon-color);
                --iron-icon-width: 35px;
                --iron-icon-height: 35px;
                margin-top: 20px;
            }
        </style>
        <div class="card">
            <div class="body">
                <iron-icon icon="{{icon}}" ></iron-icon>
            </div>
            <div class="footer">
                <span>{{name}}</span>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is:'card-options',
            properties:{
                icon:{
                    type:String,
                    value:'',
                    notify:true
                },
                name:{
                    type:String,
                    value:'',
                    notify:true
                }
            },
            listeners:{
                'click':'handlerClick'
            },
            handlerClick:function(){
                this.fire('on-card-options-click',this);
            }
        })
    </script>
</dom-module>