<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="portafolio-app">
    <template>
        <style>
            :host {
                display: block;
            }
            app-header{
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 64px;
                color: #fff;
                z-index: 1;
                background-color: #B71C1C;
                --app-header-background-rear-layer: {
                    /* The header is blue when condensed */
                    background-color: #B71C1C;
                };
            }
            app-toolbar  > [main-title]{
                pointer-events: auto!important;
            }
            .header-spacer{
                margin-left: 30px;
            }
            .sub-title{
                font-size: 0.8em;
                font-style: italic;
            }
            main{
                height: auto;
                width: 75%;
                position: relative;
                margin: 0 auto;
                padding: 110px 0px 80px 0px;
            }
            .header-options{
                text-align: center;
            }
            .header-options{
                color: white;
                text-decoration: none;
            }
            .header-options iron-icon{
                --iron-icon-height: 20px;
                --iron-icon-width: 20px;
            }
            .header-options span{
                font-size: 0.8em;
            }
        </style>
        <app-location route="{{route}}" use-hash-as-path ></app-location>

        <app-route pattern="/:page" data="{{data}}" ></app-route>

        <app-header reveals fixed>
            <app-toolbar>
                <div main-title>
                    <a href="#home" class="header-options">
                        Jefferson Lara<br /> <span class="sub-title">Full Stack Deveopment</span>
                    </a>
                </div>
                <a href="#contact" class="header-options">
                    <iron-icon icon="mail"></iron-icon>
                    <br />
                    <span>Contactame</span>
                </a>
                <span class="header-spacer"></span>
                <a href="#biography" class="header-options">
                    <iron-icon icon="record-voice-over"></iron-icon>
                    <br />
                    <span>Biografia</span>
                </a>
                <span class="header-spacer" ></span>
                <a href="#cv" class="header-options">
                    <iron-icon icon="assignment-ind"></iron-icon>
                    <br />
                    <span>CV</span>
                </a>
            </app-toolbar>
        </app-header>
        <main>
            <neon-animated-pages attr-for-selected="page" selected="{{data.page}}"
                                 entry-animation="fade-in-animation"
                                 exit-animation="fade-out-animation"
                                 fallback-selection="404" >
                <portafolio-home page="home" ></portafolio-home>
                <portafolio-proyects page="proyectos" ></portafolio-proyects>
                <div page="habilidades">
                    <portafolio-alert icon="settings" text="Pagina en Construccion"></portafolio-alert>
                </div>
                <div page="empleos">
                    <portafolio-alert icon="settings" text="Pagina en Construccion"></portafolio-alert>
                </div>
                <div page="contact">
                    <portafolio-alert icon="settings" text="Pagina en Construccion"></portafolio-alert>
                </div>
                <div page="biography">
                    <portafolio-alert icon="settings" text="Pagina en Construccion"></portafolio-alert>
                </div>
                <div page="cv">
                    <portafolio-alert icon="settings" text="Pagina en Construccion"></portafolio-alert>
                </div>
                <div page="404">
                    <portafolio-alert icon="report-problem" text="Pagina No Encontrada"></portafolio-alert>
                </div>
            </neon-animated-pages>
        </main>
    </template>

    <script>
        Polymer({

            is: 'portafolio-app',

            properties: {
                route: {
                    type: Object,
                    notify:true
                },
                data: {
                    type: Object,
                    notify:true,
                    value: function() {
                        return {
                            page: 'home'
                        };
                    }
                }
            },
            observers: [
                '_onRoutePathChanged(route.path)'
            ],
            _onRoutePathChanged: function(path) {
                console.log(path);
                console.log(this.data.page);
                if (!path) {
                    this.set('route.path', 'home');
                }else if(path != this.data.page){
                    this.set('data.page', path);
                }
            }
        });
    </script>
</dom-module>
