<link rel="import" href="../../bower_components/polymer/polymer.html" />

<dom-module id="portafolio-alert">
    <template>
        <style>
            :host{
                display: block;
                background: white;
            }
            .flex-vertical {
                @apply(--layout-vertical);
                padding: 10px;
                height: 175px;
            }
            .flexchild-vertical {
                @apply(--layout-flex);
            }
            .flex-horizontal {
                @apply(--layout-horizontal);
            }
            .flexchild {
                @apply(--layout-flex);
                text-align: center;
            }
            .flex2child {
                @apply(--layout-flex-2);
            }
            iron-icon{
                --iron-icon-width: 120px;
                --iron-icon-height: 120px;
                --iron-icon-fill-color: #B71C1C;
            }
            .text{
                padding: 7px;
                text-align: center;
            }
            .text h3{
                font-size: 2.0em;
                color: #000;
                opacity: 0.7;
            }
        </style>
        <div class="container flex-vertical">
            <div></div>
            <div class="flexchild-vertical flex-horizontal">
                <div class="flex2child"></div>
                <div class="flexchild" >
                    <iron-icon icon="{{icon}}" ></iron-icon>
                </div>
                <div class="flex2child" ></div>
            </div>
            <div class="text">
                <h3>{{text}}</h3>
            </div>
        </div>
    </template>
    <script>
        Polymer({
            is:'portafolio-alert',
            properties:{
                icon:String,
                text:String
            }
        })
    </script>
</dom-module>