<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="portafolio-proyects">
    <template>
        <style>
            :host {
                display: block;
            }
            iron-list {
                padding-bottom: 16px;
                --iron-list-items-container: {
                    max-width: 800px;
                    margin: auto;
                    margin-bottom: 10px;
                };
            }
            .personItem {
                @apply(--layout-horizontal);
                margin: 16px 16px 0 16px;
                padding: 20px;
                border-radius: 6px;
                background-color: white;
                border: 1px solid #B0BEC5;
            }
            .avatar {
                height: 120px;
                width: 150px;
                border-radius: 8px;
                box-sizing: border-box;
                background-color: #DDD;
            }
            .pad {
                padding: 0 16px;
                @apply(--layout-flex);
                @apply(--layout-vertical);
            }
            .primary {
                font-size: 16px;
                font-weight: bold;
            }
            .primary a{
                text-decoration: none;
                color: #000;
                font-weight: bold;
            }
            .primary a:hover{
                color: #B71C1C;
            }
            .secondary {
                font-size: 10px;
                font-weight: bold;
                opacity: 0.7;
                padding: 3px;
            }
            .description {
                font-size: 14px;
                margin: 10px 0;
                text-align: justify;
                line-height: 1.5;
                color: #000;
                opacity: 0.9;
            }
        </style>
        <iron-list id="list" items="[[proyectos]]"  scroll-target="html">
            <template>
                <div>
                    <div class="personItem" tabindex$="[[tabIndex]]">
                        <iron-icon class="avatar"  src$="[[item.image]]"></iron-icon>
                        <!--iron-image preload fade class="avatar" sizing="cover" src="[[item.image]]" ></iron-image-->
                        <div class="pad">
                            <div class="primary"><a href="{{item.link}}" target="_blank">[[item.name]]</a></div>
                            <div class="secondary">[[item.company]] </div>
                            <div class="description">[[item.description]]</div>
                        </div>
                    </div>
                </div>
            </template>
        </iron-list>
    </template>
    <script>
        Polymer({
            is:'portafolio-proyects',
            properties:{
                proyectos:{
                    type:Array,
                    value:[],
                    notify:true
                }
            },
            ready:function(){
                var self = this;
                self.set('proyectos',[
                    //{name:'Sistema de Rastreo Satelital',link:'http://rastreo.cherycontigo.com/',company:'SIGIS - CHERY CONTIGO', image:'src/logo-sigis.jpg',description:'jsahdkjas jsakdhkjsa jhakshdka'},
                    //{name:'Sistema de Recaudacion Tributario',company:'CNAC - FONPROCINE', image:'src/logo-sigis.jpg',description:'jsahdkjas jsakdhkjsa jhakshdka'},
                    {name:'Red Medica Integral de Salud',
                        link:'https://www.viewmedonline.com/',
                        company:'VIEWMED',
                        image:'src/images/proyects/viewmed.png',
                        description:'Una plataforma en la nube te brinda la capacidad de almacenamiento ilimitado de estudios, bajo un formato de alta calidad y certificación internacional.'},
                    {name:'Remindermillie',company:'TERAVISION - REMINDERMILLIE',
                        link:'http://www.remindermillie.com/',
                        image:'src/images/proyects/remindermillie.png',
                        description:'Un calendario intuitivo que permite a sus usuarios gestionar, controlar y programar citas con los sus clientes de forma sencilla y amigable.'}

                ]);
            }
        })
    </script>
</dom-module>