<link rel="import" href="../../bower_components/polymer/polymer.html">
<dom-module id="portafolio-home">
  <template>
    <style>
      :host {
        display: block;
      }
      section.profile{
        background: white;
        padding-bottom: 80px;
      }
      section.options{
        margin-top: -50px;
      }
      section.flex-horizontal{
        @apply(--layout-horizontal);
      }
      section.flex-horizontal .extracto{
        @apply(--layout-flex-4);
        padding: 20px 0px 0px 5px;
      }
      section.flex-horizontal .extracto p{
        text-align: justify;
        line-height: 2.0;
        color:#000;
        width: 95%;
        font-size: 1.2em ;
      }
      section.flex-horizontal .extracto h3{
        font-size: 1.5em;
      }
      section.flex-horizontal .photo{
        @apply(--layout-flex);
      }
      section.flex-horizontal .photo iron-image{
        position: relative;
        float: right;
        right: 10px;
        width:150px;
        height:150px;
      }
      section.flex-horizontal .separator-item {
        @apply(--layout-flex);
      }
      section.flex-horizontal .item{
        @apply(--layout-flex);
        height: 120px;
        width: 100%;
        background: #ECEFF1;
        border: 1px solid #B0BEC5;
      }

      card-options{
       cursor: pointer;
      }
    </style>
      <section class="profile container flex-horizontal">
        <div class="photo">
          <!--iron-image sizing="contain" src="http://lorempixel.com/600/400"></iron-image-->
        </div>
        <div class="extracto">
          <h3>Hola Bienvenido!</h3>
          <p>Soy Jefferson Lara, aqui podras ver parte de lo que soy y de lo que hago.
             Actualmente me desempeño como desarrollador de aplicaciones web, manejo varios lenguaje de programacion
             y framework de desarrollo del lado del Frontend y El Backend; mis favoritos Angular y Express.</p>
          <p>Te invito a que conozcas mas de mis habilidades, experiencia y personalidad por medio de
            los diferentes enlaces y opciones que te ofrece este sitio.</p>
        </div>
      </section>
      <section class="options container flex-horizontal">
        <div class="separator-item"></div>
        <card-options id="proyectos" on-click="handleOptions" class="item" icon="gavel" name="Proyectos"></card-options>
        <div class="separator-item"></div>
        <card-options id="empleos" on-click="handleOptions"class="item" icon="work" name="Empleos"></card-options>
        <div class="separator-item"></div>
        <card-options id="habilidades" on-click="handleOptions" class="item" icon="build" name="Habilidades"></card-options>
        <div class="separator-item"></div>
      </section>
  </template>

  <script>
    Polymer({

      is: 'portafolio-home',

      properties: {
        prop1: {
          type: String,
          value: 'MyPortafolio-app',
        }
      },
      listeners:{
        'card-click':'handleOptions'
      },
      handleOptions:function (e) {
        var normalize  = Polymer.dom(e);
        var app = document.querySelector('portafolio-app');
        app.set('route.path',normalize.localTarget.name.toLowerCase());
      }

    });
  </script>
</dom-module>
