<link rel="import" href="../bower_components/polymer/polymer.html">
<dom-module id="my-devices">
    <template>
        <style>
            :host{
                display: block;
            }
            paper-card{
                width: 300px;
                height:auto;
                --paper-card-header-text:{
                    font-size: 18px;
                    font-weight: bold;
                    color:  var(--primary-text-color);
                };
                --paper-card-content:{
                    max-height: 200px;
                    min-height: 160px;
                    overflow-y: auto;
                    overflow-x: hidden;
                    padding: 0px;
                }
            }
            paper-card .card-actions > paper-button{
                float: right;
                color:  var(--primary-text-color);
                right: -20px;
            }
            paper-card .card-content > paper-icon-item{
                border-top:1px solid #e8e8e8;
                min-height: 40px;
                font-size: 14px;
                --paper-item-icon:{
                    width: 35px;
                    margin-left: 5px;
                }
            }
            paper-card .card-content > paper-icon-item span{
                display: block;
                color: var(--primary-text-color);
            }
            paper-card .card-content > paper-icon-item span.title{
                margin: 11px 0px 15px 5px;
            }
            paper-card .card-content > paper-icon-item span.ip{
                font-size: 9px;
                opacity: 0.6;
                bottom: -3px;
                position: absolute;
                left: 60px;
            }
            paper-card .card-content > paper-icon-item paper-icon-button{
                position: absolute;
                right: 5px;
                /*background: var(--primary-color);*/
                border: 1px solid #e8e8e8;
                border-radius: 20px;
                padding: 2px;
                width: 26px;
                height: 26px;
            }
            paper-icon-button.card-item-button::content iron-icon{
                width: 20px;
                height: 20px;
            }
            paper-card .card-content > paper-icon-item:first-child{
                border-top:1px solid #e8e8e8;
            }
            paper-spinner-lite{
                width: 50px;
                height: 50px;
                position: relative;
                margin: 15% 25% auto 40%;
            }
        </style>
        <paper-card heading="Mis dispositivos" elevation="2" animated-shadow="true">
            <div class="card-content">
                <template is="dom-if" if="[[load]]">
                    <paper-spinner-lite active ></paper-spinner-lite>
                </template>
                <template is="dom-repeat" items="[[devices]]">
                    <!--template is="dom-if" if="[[!load]]"-->
                        <paper-icon-item>
                            <iron-icon icon$="{{item.icon}}" slot="item-icon"></iron-icon>
                            <span class="title">{{item.name}}</span>
                            <span class="ip">{{item.ip}}</span>
                            <paper-icon-button id="btn-{{index}}" class="card-item-button" icon="close"></paper-icon-button>
                            <paper-tooltip for="btn-{{index}}" offset="0" position="left" >Cerrar</paper-tooltip>
                        </paper-icon-item>
                    <!--/template-->
                </template>
            </div>
            <div class="card-actions">
                <paper-button>Ver todos</paper-button>
            </div>
        </paper-card>
    </template>
    <script>
        Polymer({
            is:'my-devices',
            properties:{
                load:{
                    type:Boolean,
                    value:true,
                    notify:true
                },
                devices:{
                    type:Array,
                    notify:true,
                    value:[]
                }
            },
            ready:function(){
                var self = this;
                self.load = true;
                window.setTimeout(function(){
                    self.devices = [
                        {name:'GalaxyS8-YT65',icon:'hardware:phone-android',ip:'192.98.87.3/ Caracas-VE/ 10-08-2017 09:00PM'},
                        {name:'Window7',icon:'hardware:computer',ip:'192.98.87.3/ Lima-PE/ 10-08-2017 09:00PM'},
                        {name:'Linux-Ubuntu',icon:'hardware:computer',ip:'192.98.87.3/ Barcelona-VE/ 10-08-2017 09:00PM'}
                    ]
                    self.load = false;
                }, 5000)
            }
        })
    </script>
</dom-module>